[defaults]
inventory = inventory/rhel10.ini
roles_path = roles
collections_path = .ansible/collections:~/.ansible/collections:/usr/share/ansible/collections
host_key_checking = False
force_valid_group_names = ignore
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = default
forks = 10
playbook_vars_root = all

[privilege_escalation]
become = True
become_method = sudo
