global
  log stdout format raw local0
  maxconn 2048

defaults
  log global
  mode tcp
  option tcplog
  timeout connect 5s
  timeout client 1m
  timeout server 1m

frontend openbao_tls
  bind *:443
  bind *:8443
  default_backend openbao_nodes

frontend openbao_bootstrap_api
  bind *:8300
  default_backend openbao_bootstrap_api_nodes

backend openbao_nodes
  balance roundrobin
  option tcp-check
  tcp-check connect
  server bao1 rhel10-ansible-1:8200 check
  server bao2 rhel10-ansible-2:8200 check
  server bao3 rhel10-ansible-3:8200 check

backend openbao_bootstrap_api_nodes
  balance roundrobin
  option tcp-check
  tcp-check connect
  server bao1 rhel10-ansible-1:8300 check
  server bao2 rhel10-ansible-2:8300 check
  server bao3 rhel10-ansible-3:8300 check

listen stats
  mode http
  bind *:8404
  stats enable
  stats uri /
  stats refresh 5s
