[Unit]
Description=OpenBao server
Documentation=https://openbao.org/docs/
After=network-online.target remote-fs.target
Wants=network-online.target remote-fs.target
{% if openbao_certificate_mode == 'native_acme' %}
RequiresMountsFor={{ openbao_native_acme_cache_path }}
{% endif %}

[Service]
Type=notify
User={{ openbao_service_user }}
Group={{ openbao_service_group }}
ExecStart=/usr/bin/bao server -config={{ openbao_config_dir }}/openbao.hcl
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGINT
Restart=on-failure
RestartSec=5
TimeoutStopSec=30
LimitNOFILE=65536
AmbientCapabilities=CAP_IPC_LOCK
CapabilityBoundingSet=CAP_IPC_LOCK
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
